<div class="wrapper">

    <!-- Temporary Input and Button to load an employee -->
    <table>
        <tr>
            <td>Employee Number:</td>
            <td><input type="text" #employeeNumber /><br /></td>
            <td rowspan="2">
                <!-- change this to load employee info-->
                <button class="btn-icon" (click)="loadTimesheet(employeeNumber.value, endDate.value)">
                    <img class="img-icon" src="../../assets/images/icon-search.png" alt="Load Timesheet" />
                </button>
            </td>
        </tr>
    </table>
    <br />
    <!-- Table Header -->
    <div class="tableHeader">
        <!-- xs, sm view -->
        <div class="row visible-xs visible-sm">
            <div class="col-xs-12">
                <div class="row">
                    <div class="row">
                        <button class="btn-icon"><img class="img-icon" src="../../assets/images/icon-archive.png" alt="Archive" /></button>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 text-center">
                <h1>Employees</h1>
            </div>
        </div>

        <!--  md, lg, xl views -->
        <div class="row hidden-xs hidden-sm">
            <div class="col-md-4">
                <button class="btn-icon"><img class="img-icon" src="../../assets/images/icon-archive.png" alt="Archive" /></button>
            </div>
            <div class="col-md-4 text-center">
                <h1>Employees</h1>
            </div>
        </div>
    </div>


    <!-- Table Body -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Employee ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Labour Grade</th>
                <th>Supervisor</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let employee of employees">
                <td>{{employee.employeeNumber}}</td>
                <td>{{employee.firstName}}</td>
                <td>{{employee.lastName}}</td>
                <td>{{employee.grade}}</td>
                <td>{{employee.supervisorNumber}}</td>
            </tr>
            <tr></tr>
        </tbody>

    </table>
    <button [routerLink]="['/addEmployee']">New Employee</button>
    <br />
    <button (click)="printProperties()">Print to Console</button>
</div>


<!-- Table Footer -->

<!--<button (click)="clearProperties()">Clear Properties</button>

<br />

<h2>View Employees</h2>

<button (click)="loadEmployees()">View Employees</button>

<div *ngFor="let employee of employees">
    <ul>
        <li>Employee Number: {{employee.employeeNumber}}</li>
        <li>First Name: {{employee.firstName}}</li>
        <li>Last Name: {{employee.lastName}}</li>
        <li>Labor Grade: {{employee.laborGrade}}</li>
        <li>Grade: {{employee.grade}}</li>
        <li>Employee Initials: {{employee.employeeInitials}}</li>
        <li>Supervisor: {{employee.supervisor}}</li>
        <li>Supervisor Number: {{employee.supervisorNumber}}</li>
        <li>Auth Code: {{employee.authCode}}</li>
        <li>Authorization Code: {{employee.authorizationCode}}</li>
        <li>Timesheets: {{employee.timesheets}}</li>
    </ul>
</div>

<br />

<h2>View Employee</h2>

Employee Number: <input type="text" #employeeNumberView />
<button (click)="loadEmployee(employeeNumberView.value)">View Employee</button>

<div *ngIf="employee.employeeNumber">
    <ul>
        <li>Employee Number: {{employee.employeeNumber}}</li>
        <li>First Name: {{employee.firstName}}</li>
        <li>Last Name: {{employee.lastName}}</li>
        <li>Labor Grade: {{employee.laborGrade}}</li>
        <li>Grade: {{employee.grade}}</li>
        <li>Employee Initials: {{employee.employeeInitials}}</li>
        <li>Supervisor: {{employee.supervisor}}</li>
        <li>Supervisor Number: {{employee.supervisorNumber}}</li>
        <li>Auth Code: {{employee.authCode}}</li>
        <li>Authorization Code: {{employee.authorizationCode}}</li>
        <li>Timesheets: {{employee.timesheets}}</li>
    </ul>
</div>

<br />

<h2>Delete Employee</h2>

Employee Number: <input type="text" #employeeNumberDelete />
<button (click)="removeEmployee(employeeNumberDelete.value)">Delete Employee</button>

<h2>Add Employee</h2>

<form (ngSubmit)="addEmployee()">
    <table>
        <tr>
            <td>Employee Number: </td>
            <td><input type="text" name="employeeNumber" [(ngModel)]="employee.employeeNumber" /></td>
        </tr>
        <tr>
            <td>First Name: </td>
            <td><input type="text" name="firstName" [(ngModel)]="employee.firstName" /></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" name="lastName" [(ngModel)]="employee.lastName" /></td>
        </tr>
        <tr>
            <td>Labor Grade: </td>
            <td><input type="text" name="laborGrade" [(ngModel)]="employee.laborGrade" /></td>
        </tr>
        <tr>
            <td>Grade: </td>
            <td><input type="text" name="grade" [(ngModel)]="employee.grade" /></td>
        </tr>
        <tr>
            <td>Employee Initials: </td>
            <td><input type="text" name="employeeInitials" [(ngModel)]="employee.employeeInitials" /></td>
        </tr>
        <tr>
            <td>Supervisor: </td>
            <td><input type="text" name="supervisor" [(ngModel)]="employee.supervisor" /></td>
        </tr>
        <tr>
            <td>Supervisor Number: </td>
            <td><input type="text" name="supervisorNumber" [(ngModel)]="employee.supervisorNumber" /></td>
        </tr>
        <tr>
            <td>Auth Code: </td>
            <td><input type="text" name="authCode" [(ngModel)]="employee.authCode" /></td>
        </tr>
        <tr>
            <td>Authorization Code: </td>
            <td><input type="text" name="authorizationCode" [(ngModel)]="employee.authorizationCode" /></td>
        </tr>
        <tr>
            <td>Timesheets: </td>
            <td><input type="text" name="timesheets" [(ngModel)]="employee.timesheets" /></td>
        </tr>
    </table>
    <button>Add Employee</button>
</form>

<br />

<h2>Update Employee</h2>

<form (ngSubmit)="updateEmployee()">
    <table>
        <tr>
            <td>Employee Number: </td>
            <td><input type="text" name="employeeNumber" [(ngModel)]="employee.employeeNumber" /></td>
        </tr>
        <tr>
            <td>First Name: </td>
            <td><input type="text" name="firstName" [(ngModel)]="employee.firstName" /></td>
        </tr>
        <tr>
            <td>Last Name: </td>
            <td><input type="text" name="lastName" [(ngModel)]="employee.lastName" /></td>
        </tr>
        <tr>
            <td>Labor Grade: </td>
            <td><input type="text" name="laborGrade" [(ngModel)]="employee.laborGrade" /></td>
        </tr>
        <tr>
            <td>Grade: </td>
            <td><input type="text" name="grade" [(ngModel)]="employee.grade" /></td>
        </tr>
        <tr>
            <td>Employee Initials: </td>
            <td><input type="text" name="employeeInitials" [(ngModel)]="employee.employeeInitials" /></td>
        </tr>
        <tr>
            <td>Supervisor: </td>
            <td><input type="text" name="supervisor" [(ngModel)]="employee.supervisor" /></td>
        </tr>
        <tr>
            <td>Supervisor Number: </td>
            <td><input type="text" name="supervisorNumber" [(ngModel)]="employee.supervisorNumber" /></td>
        </tr>
        <tr>
            <td>Auth Code: </td>
            <td><input type="text" name="authCode" [(ngModel)]="employee.authCode" /></td>
        </tr>
        <tr>
            <td>Authorization Code: </td>
            <td><input type="text" name="authorizationCode" [(ngModel)]="employee.authorizationCode" /></td>
        </tr>
        <tr>
            <td>Timesheets: </td>
            <td><input type="text" name="timesheets" [(ngModel)]="employee.timesheets" /></td>
        </tr>
    </table>
    <button>Update Employee</button>
</form>-->