<!-- component -->

<div class="component-content">
    <div class="title" align="center">
        <h2>Adding New Member to Project</h2>
    </div>
    <div>
        <form (ngSubmit)="addToProjectTeam()">
            <!-- xs, sm -->
            <div class="visible-xs visible-sm">
                <div class="row inputBox">
                    <div class="col-xs-12">
                        Project Number
                        <br />

                        <select [(ngModel)]="newMember" name="newMember">
                            <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.firstName}} {{employee.lastName}}</option>
                        </select>
                    </div>
                </div>
                <br />
                <button id="addToProjectTeamButtonSmall" align="center">Add To Project Team</button>
                <button type="button" id="closeButtonLarge" data-dismiss="modal" (click)="loadProjectTeam()">Close</button>
            </div>

            <!-- md, lg, xl-->
            <div class="hidden-xs hidden-sm">
                <div class="row inputBox">
                    <div class="col-md-12" align="center">
                        Project Number
                        <br />

                        <select [(ngModel)]="newMember" name="newMember">
                            <option *ngFor="let employee of employees" [ngValue]="employee">{{employee.firstName}} {{employee.lastName}}</option>
                        </select>
                    </div>
                </div>
                <br />
                <div align="center">

                    <button id="addToProjectTeamButtonLarge" align="center">Add To Project Team</button>
                    <button type="button" id="closeButtonLarge" data-dismiss="modal" (click)="loadProjectTeam()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
