<div class="body">
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-sm-3'>
                <nav-menu></nav-menu>
            </div>
            <div class='col-sm-9 body-content'>

                <projectsTable (selectProject)="projectChange($event)"></projectsTable>
                <!--<workpackages [inputProjectNumber]="selectedProject" (outputWorkPackage)="workPackageChange($event)"></workpackages>-->
                <workpackages *ngIf="checkPMRole()" (selectWorkpackage)="workPackageChange($event)"></workpackages>

                <projectteam [inputProjectNumber]="selectedProject" (outputEmployee)="memberChange($event)"></projectteam>
                <workpackageteam *ngIf="checkPMRole()" [inputProjectNumber]="selectedProject" [inputWorkPackageNumber]="selectedWorkPackage" [inputMember]="selectedMember"></workpackageteam>
            </div>
        </div>
    </div>
</div>
