<div class="body">
    <div class='container-fluid'>
        <div class='row'>
            <div class='body-content'>
                <div class="component-content">
                    <div align="center">
                        <h2>Updating Employee</h2>
                    </div>
                    <div>
                        <form (ngSubmit)="updateEmployee()">
                            <!-- xs, sm -->
                            <div class="visible-xs visible-sm">
                                <div class="row inputBox center">
                                    <div class="col-xs-12">
                                        Employee Number
                                        <br />
                                        <input id="employeeNumberInputSmall" type="number" name="employeeNumber" [(ngModel)]="employee.employeeNumber" [ngClass]="validateInput(employee.employeeNumber, true)" disabled/>
                                    </div>
                                </div>
                                <div class="row inputBox">
                                    <div class="col-xs-12">
                                        First Name
                                        <br />
                                        <input id="firstNameInputSmall" type="text" name="firstName" [(ngModel)]="employee.firstName" [ngClass]="validateInput(employee.firstName, true)" />
                                    </div>
                                </div>
                                <div class="row inputBox">
                                    <div class="col-xs-12">
                                        Last Name
                                        <br />
                                        <input id="lastNameInputSmall" type="text" name="lastName" [(ngModel)]="employee.lastName" [ngClass]="validateInput(employee.lastName, true)" />
                                    </div>
                                </div>
                                <div class="row inputBox">
                                    <div class="col-xs-12">
                                        Initials
                                        <br />
                                        <input id="initialsInputSmall" type="text" name="employeeIntials" [(ngModel)]="employee.employeeIntials" [ngClass]="validateInput(employee.employeeIntials, true)" />
                                    </div>
                                </div>
                                <div class="row inputBox">
                                    <div class="col-xs-12">
                                        Supervisor
                                        <br />
                                        <select class="employee-dropdown" name="supervisorNumber" [(ngModel)]="employee.supervisorNumber" [ngClass]="validateInput(employee.supervisorNumber, false)">
                                            <option *ngFor="let supervisor of supervisors" [value]="supervisor.employeeNumber">{{supervisor.employeeName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row inputBox">
                                    <div class="col-xs-12">
                                        Role
                                        <br />
                                        <select class="employee-dropdown" name="role" [(ngModel)]="employee.role" [ngClass]="validateInput(employee.role, true)">
                                            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row inputBox">
                                    <div class="col-xs-12">
                                        Labor Grade
                                        <br />
                                        <select class="employee-dropdown" name="grade" [(ngModel)]="employee.grade" [ngClass]="validateInput(employee.grade, true)">
                                            <option *ngFor="let grade of grades" [value]="grade.grade">{{grade.grade}}</option>
                                        </select>
                                    </div>
                                </div>
                                <br />
                                <button id="updateEmployeeButtonSmall">Update Employee</button>
                                <button id="closeButtonLarge" data-dismiss="modal">Close</button>
                            </div>
                            <!-- md, lg, xl-->
                            <div class="hidden-xs hidden-sm">
                                <div class="row inputBox">
                                    <div class="col-md-6" align="center">
                                        Employee Number
                                        <br />
                                        <input id="employeeNumberInputLarge" type="number" name="employeeNumber" [(ngModel)]="employee.employeeNumber" [ngClass]="validateInput(employee.employeeNumber, true)" disabled/>
                                    </div>
                                    <div class="col-md-6" align="center">
                                        Supervisor
                                        <br />
                                        <select class="employee-dropdown" name="supervisorNumber" [(ngModel)]="employee.supervisorNumber" [ngClass]="validateInput(employee.supervisorNumber, false)">
                                            <option *ngFor="let supervisor of supervisors" [value]="supervisor.employeeNumber">{{supervisor.employeeName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row inputBox">
                                    <div class="col-md-6" align="center">
                                        First Name
                                        <br />
                                        <input id="firstNameInputLarge" type="text" name="firstName" [(ngModel)]="employee.firstName" [ngClass]="validateInput(employee.firstName, true)" />
                                    </div>
                                    <div class="col-md-6" align="center">
                                        Last Name
                                        <br />
                                        <input id="lastNameInputLarge" type="text" name="lastName" [(ngModel)]="employee.lastName" [ngClass]="validateInput(employee.lastName, true)" />
                                    </div>
                                </div>
                                <div class="row inputBox">
                                    <div class="col-md-6" align="center">
                                        Initials
                                        <br />
                                        <input id="initialsInputLarge" type="text" name="employeeIntials" [(ngModel)]="employee.employeeIntials" [ngClass]="validateInput(employee.employeeIntials, true)" />
                                    </div>
                                    <div class="col-md-6" align="center">
                                        Role
                                        <br />
                                        <select class="employee-dropdown" name="role" [(ngModel)]="employee.role" [ngClass]="validateInput(employee.role, true)">
                                            <option *ngFor="let role of roles" [value]="role">{{role}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row inputBox">
                                    <div class="col-md-6" align="center">
                                        Labor Grade
                                        <br />
                                        <select class="employee-dropdown" name="grade" [(ngModel)]="employee.grade" [ngClass]="validateInput(employee.grade, true)">
                                            <option *ngFor="let grade of grades" [value]="grade.grade">{{grade.grade}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="buttons" align="center">
                                    <button id="updateEmployeeButtonLarge" align="center">Update Employee</button>
                                    <button id="closeButtonLarge" data-dismiss="modal" (click)="loadEmployees()">Close</button>
                                </div>
                            </div>
                            <br />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>