<div class="component-content">

    <!-- Temporary Input and Button to load a Timesheet -->
    <table>
        <tr class="input-row">
            <td style="padding-bottom: 10px">Project Number:</td>
            <td><input class="input-top" type="text" #employeeNumber /></td>
            <td style="padding-left:10px" rowspan="2">
                <button class="btn-icon" (click)="loadTimesheet(employeeNumber.value, endDate.value)">
                    <img class="img-icon" src="../../../assets/images/icon-search.png" alt="Load Timesheet" />
                </button>
            </td>
        </tr>
        <!--<tr class="input-row">
            <td>End Date (YYYY-MM-DD):</td>
            <td><input class="input-top" type="text" #endDate /><br /></td>
        </tr>-->
        <tr>
            <!--<td><button disabled (click)="addTimesheet(employeeNumber.value, endDate.value)">Create Timesheet</button></td>-->
        </tr>
        <tr>
            <!--<td><button disabled (click)="removeTimesheet(employeeNumber.value, endDate.value)">Delete Timesheet</button></td>-->
        </tr>
    </table>
    <br />

    <!-- Table Header -->
    <div class="tableHeader">
        <!-- xs, sm view -->
        <div class="row visible-xs visible-sm">
            <div class="col-xs-12">
                <button class="btn-icon"><img class="img-icon" src="../../../assets/images/icon-archive.png" alt="Archive" /></button>
            </div>
            <div class="col-xs-12 text-center">
                <h1>Projects</h1>
            </div>
            <div class="col-xs-12">
            </div>
        </div>

        <!--  md, lg, xl views -->
        <div class="row hidden-xs hidden-sm">
            <div class="col-md-4">
                <button class="btn-icon"><img class="img-icon" src="../../../assets/images/icon-archive.png" alt="Archive" /></button>
            </div>
            <div class="col-md-4 text-center">
                <h1>Projects</h1>
            </div>
            <div class="col-md-4">
                <h4 class="pull-right">Week No.</h4>
            </div>
        </div>
    </div>


    <!-- Table Body -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Project #</th>
                    <th># of WP</th>
                    <th># of Employees</th>
                    <th>Managers</th>
                    <th>Progress</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let timesheetRow of timesheet">
                    <td><input type="text" name="projectNumber" [(ngModel)]="timesheetRow.projectNumber" style="width: 100px;" /></td>
                    <td><input type="text" name="workPackageNumber" [(ngModel)]="timesheetRow.workPackageNumber" style="width: 100px;" /></td>
                    <td><input type="text" name="total" [(ngModel)]="timesheetRow.total" style="width:100px;" /></td>
                    <td><input type="text" name="saturday" [(ngModel)]="timesheetRow.saturday" style="width: 100px;" /></td>
                    <td><input type="text" name="sunday" [(ngModel)]="timesheetRow.sunday" style="width: 100px;" /></td>
                </tr>
                <tr></tr>
                <tr>
                    <!--<td colspan="11"></td>-->
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>

                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <button class="btn-newRow" [routerLink]="['/addProject']" >New Project</button>
    <button class="pull-right">Manage</button>
    <button class="pull-right">Statistics</button>
    <!--<button (click)="printProperties()">Print to Console</button>-->
    <br />
    <hr />
</div>
