.component-content {
    margin: 5%;
}

.inputBox {
    padding: 15px;
}

.xs-input {
    width: 100%;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body {
        padding-top: 50px;
    }
}

.employee-dropdown {
    height: 28px;
    width: 175px;
}

.invalid-input {
    border: 2px solid red;
}
