<div *ngFor="let employee of employees">
    <ul>
        <li>Employee Number: {{employee.employeeNumber}}</li>
        <li>First Name: {{employee.firstName}}</li>
        <li>Last Name: {{employee.lastName}}</li>
        <li>Labor Grade: {{employee.laborGrade}}</li>
        <li>Grade: {{employee.grade}}</li>
        <li>Employee Initials: {{employee.employeeInitials}}</li>
        <li>Supervisor: {{employee.supervisor}}</li>
        <li>Supervisor Number: {{employee.supervisorNumber}}</li>
        <li>Auth Code: {{employee.authCode}}</li>
        <li>Authorization Code: {{employee.authorizationCode}}</li>
        <li>Timesheets: {{employee.timesheets}}</li>
    </ul>
</div>

<div *ngIf="employee.employeeNumber">
    <ul>
        <li>Employee Number: {{employee.employeeNumber}}</li>
        <li>First Name: {{employee.firstName}}</li>
        <li>Last Name: {{employee.lastName}}</li>
        <li>Labor Grade: {{employee.laborGrade}}</li>
        <li>Grade: {{employee.grade}}</li>
        <li>Employee Initials: {{employee.employeeInitials}}</li>
        <li>Supervisor: {{employee.supervisor}}</li>
        <li>Supervisor Number: {{employee.supervisorNumber}}</li>
        <li>Auth Code: {{employee.authCode}}</li>
        <li>Authorization Code: {{employee.authorizationCode}}</li>
        <li>Timesheets: {{employee.timesheets}}</li>
    </ul>
</div>
<div class="wrapper">
    <div class="title" align="center">
        <h2>Creating New Employee</h2>
    </div>
    <div>
  
        <form (ngSubmit)="addEmployee()">
            <!-- xs, sm -->
            <div class="visible-xs visible-sm">
                <div class="row inputBox">
                    <div class="col-xs-12">
                        Employee Number
                        <br />
                        <input type="text" name="employeeNumber" [(ngModel)]="employee.employeeNumber" />
                    </div>
                </div>
                <div class="row inputBox">
                    <div class="col-xs-12">
                        First Name
                        <br />
                        <input type="text" name="firstName" [(ngModel)]="employee.firstName" />
                    </div>
                </div>
                <div class="row inputBox">
                    <div class="col-xs-12">
                        Last Name
                        <br />
                        <input type="text" name="lastName" [(ngModel)]="employee.lastName" />
                    </div>
                </div>
                <div class="row inputBox">
                    <div class="col-xs-12">
                        Labor Grade
                        <br />
                        <input type="text" name="LaborGrade" [(ngModel)]="employee.laborGrade" />
                    </div>
                </div>
                <div class="row inputBox">
                    <div class="col-xs-12">
                        Supervisor SEARCH FIELD
                        <br />
                        <input type="text" name="LaborGrade" [(ngModel)]="employee.supervisor.Name" />
                    </div>
                </div>
                <div class="row inputBox">
                    <div class="col-xs-12">
                        Authorization Code
                        <br />
                        <input type="text" name="LaborGrade" [(ngModel)]="employee.authCode" />
                    </div>
                </div>
                <br />
                <button>Add Employee</button>
                <button (click)="clearProperties()">Cancel</button>
            </div>

            <!-- md, lg, xl-->
            <div class="hidden-xs hidden-sm">
                <div class="row inputBox">
                    <div class="col-md-6" align="center">
                        Employee Number
                        <br />
                        <input type="text" name="employeeNumber" [(ngModel)]="employee.employeeNumber" />
                    </div>
                    <div class="col-md-6" align="center">
                            Supervisor SEARCH FIELD
                            <br />
                            <input type="text" name="firstName" [(ngModel)]="employee.supervisor.Name" />
                    </div>
                </div>
                <div class="row inputBox">
                    <div class="col-md-6" align="center">
                        First Name
                        <br />
                        <input type="text" name="LaborGrade" [(ngModel)]="employee.firstName" />
                    </div>
                    <div class="col-md-6" align="center">
                        Last Name
                        <br />
                        <input type="text" name="lastName" [(ngModel)]="employee.lastName" />
                    </div>

                </div>
                <div class="row inputBox">
                    <div class="col-md-6" align="center">
                        Labor Grade DROPDOWN
                        <br />
                        <input type="text" name="LaborGrade" [(ngModel)]="employee.laborGrade" />
                    </div>
                    <div class="col-md-6" align="center">
                        Authorization Code DROPDOWN
                        <br />
                        <input type="text" name="LaborGrade" [(ngModel)]="employee.authCode" />
                    </div>
                </div>
            </div>
            <br />
            <div class="buttons" align="center">
                <button align="center">Add Employee</button>
                <button (click)="clearProperties()">Cancel</button>
            </div>
        </form>
    </div>
</div>

