.tableHeader {
    padding-top: 30px;
}

.component-content {
    margin: 5%;
}

.input-top {
    width: 100%;
    padding: 0px 5px 0px 5px;
    outline: 1px solid #6ac48d;
    box-shadow: none;
}


.img-icon {
    height: 15px;
    width: 15px;
}

.tableHeader {
    /*background-color: #436252;*/
    /*background-color: #3EB55F;*/
    /*background-color: #1ab188;*/
    background-color: #6ac48d;
    padding: 10px;
    color: #173c00;
}

.btn-icon {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.invalid-hour {
    border: 2px solid red;
}