﻿<div class="component-content">
    <form (ngSubmit)="loadTimesheet()">
        <table>
            <tr style="padding-bottom:10px;" class="input-row">
                <td style="padding-right: 10px;">End Date (YYYY-MM-DD):</td>
                <td><input id="endDateInput" class="input-top" type="text" name="endDate" [(ngModel)]="endDate" value="{{endDate}}" /><br /></td>
                <td style="padding-left:10px" rowspan="2">
                    <button id="loadTimesheetButton" class="btn-icon">
                        <img class="img-icon" src="../../../assets/images/icon-search.png" alt="Load Timesheet" />
                    </button>
                </td>
            </tr>
        </table>
    </form>
    <br />
    <!-- Table Header -->
    <div class="tableHeader">
        <!-- xs, sm view -->
        <div class="row visible-xs visible-sm">
            <div class="col-xs-12">
                <button id="timesheetArchiveButtonSmall" class="btn-icon" data-toggle="modal" data-target=".bs-example-modal-lg"><img class="img-icon" src="../../../assets/images/icon-archive.png" alt="Archive" /> View Timesheets</button>
            </div>
            <div class="col-xs-12 text-center">
                <h1>Timesheet</h1>
            </div>
            <div class="col-xs-12">
                <h4 class="pull-right">Week No. {{weekNumber}}</h4>
            </div>
        </div>
        <!--  md, lg, xl views -->
        <div class="row hidden-xs hidden-sm">
            <div class="col-md-4">
                <button id="timesheetArchiveButtonLarge" class="btn-icon" data-toggle="modal" data-target=".bs-example-modal-lg"><img class="img-icon" src="../../../assets/images/icon-archive.png" alt="Archive" /> View Timesheets</button>
            </div>
            <div class="col-md-4 text-center">
                <h1>Timesheet</h1>
            </div>
            <div class="col-md-4">
                <h4 class="pull-right">Week No. {{weekNumber}}</h4>
            </div>
        </div>
    </div>
    <!-- Table Body -->
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Project #</th>
                    <th>WP #</th>
                    <th>Total</th>
                    <th>Saturday</th>
                    <th>Sunday</th>
                    <th>Monday</th>
                    <th>Tuesday</th>
                    <th>Wednesday</th>
                    <th>Thursday</th>
                    <th>Friday</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let timesheetRow of timesheet.timesheetRows; let i = index">
                    <td>
                        <select name="projectNumber" [(ngModel)]="timesheetRow.projectNumber" [ngClass]="validateInput(timesheetRow.projectNumber)">
                            <option *ngFor="let project of projects" [value]="project.projectNumber">{{project.projectNumber}}</option>
                        </select>
                    </td>
                    <td>
                        <select name="workPackageNumber" [(ngModel)]="timesheetRow.workPackageNumber" [ngClass]="validateInput(timesheetRow.workPackageNumber)">
                            <option *ngFor="let workPackage of workPackages" [value]="workPackage.workPackageNumber">{{workPackage.workPackageNumber}}</option>
                        </select>
                    </td>
                    <td><input id="{{'totalInput' + i}}" type="text" style="width: 75px;" value="{{timesheetRow.saturday + timesheetRow.sunday + timesheetRow.monday + timesheetRow.tuesday+ timesheetRow.wednesday + timesheetRow.thursday + timesheetRow.friday}}" disabled /></td>
                    <td><input id="{{'saturdayInput' + i}}" type="number" min="0" max="24" step="0.25" name="saturday" [(ngModel)]="timesheetRow.saturday" [ngClass]="validateDailyHours(timesheetRow.saturday)" /></td>
                    <td><input id="{{'sundayInput' + i}}" type="number" min="0" max="24" step="0.25" name="sunday" [(ngModel)]="timesheetRow.sunday" [ngClass]="validateDailyHours(timesheetRow.sunday)" /></td>
                    <td><input id="{{'mondayInput' + i}}" type="number" min="0" max="24" step="0.25" name="monday" [(ngModel)]="timesheetRow.monday" [ngClass]="validateDailyHours(timesheetRow.monday)" /></td>
                    <td><input id="{{'tuesdayInput' + i}}" type="number" min="0" max="24" step="0.25" name="tuesday" [(ngModel)]="timesheetRow.tuesday" [ngClass]="validateDailyHours(timesheetRow.tuesday)" /></td>
                    <td><input id="{{'wednesdayInput' + i}}" type="number" min="0" max="24" step="0.25" name="wednesday" [(ngModel)]="timesheetRow.wednesday" [ngClass]="validateDailyHours(timesheetRow.wednesday)" /></td>
                    <td><input id="{{'thursdayInput' + i}}" type="number" min="0" max="24" step="0.25" name="thursday" [(ngModel)]="timesheetRow.thursday" [ngClass]="validateDailyHours(timesheetRow.thursday)" /></td>
                    <td><input id="{{'fridayInput' + i}}" type="number" min="0" max="24" step="0.25" name="friday" [(ngModel)]="timesheetRow.friday" [ngClass]="validateDailyHours(timesheetRow.friday)" /></td>
                    <td><button id="deleteTimesheetRowButton" (click)="deleteTimesheetRow(i)" *ngIf="validateStatus()" style="text-align: center;">x</button></td>
                </tr>
                <tr></tr>
                <tr>
                    <!--<td colspan="11"></td>-->
                </tr>
                <tr>
                    <td></td>
                    <td style="font-weight: bold">Flextime:</td>
                    <td><input disabled value="{{flextime}}" style="width: 75px;" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td></td>
                    <td style="font-weight: bold">Overtime:</td>
                    <td><input disabled value="{{overtime}}" style="width: 75px;" /></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
    <br />
    <div *ngIf="validateStatus()">
        <button id="addTimesheetRowButton" class="btn-newRow" (click)="addTimesheetRow()">Add New Row</button>
        <button id="submitTimesheetButton" class="pull-right" (click)="submitTimesheet()">Submit</button>
        <button id="saveTimesheetButton" class="pull-right" (click)="saveTimesheet()">Save</button>
    </div>
    <br />
    <hr />
    <!-- Table Footer -->
    <!-- xs, sm view -->
    <div class="row visible-xs visible-sm">
        <br />
        <div class="row">
            <p id="approvalStatusSmall">Approval Status: <strong>Not Approved</strong></p>
        </div>
        <div class="row">
            <button id="signTimesheetButton">Sign Timesheet</button>
        </div>
    </div>
    <!-- md, lg, xl view -->
    <div class="row hidden-xs hidden-sm">
        <div class="col-md-6">
            <p id="approvalStatusLarge">Approval Status: <strong>{{timesheet.statusName}}</strong></p>
        </div>
        <div class="col-md-6 ">
            <button id="signTimesheetButton" class="pull-right">Sign Timesheet</button>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <viewTimesheets></viewTimesheets>
            </div>
        </div>
    </div>
</div>

<!-- Table Footer -->
