
<!-- component -->

<div class="component-content">
    <div class="title" align="center">
        <h2>Creating New Project</h2>
    </div>
    <div>
        <form (ngSubmit)="addProject()">
            <!-- xs, sm -->
            <div class="visible-xs visible-sm">
                <div class="row inputBox">
                    <div class="col-xs-12">
                        Project Number
                        <br />
                        <input id="projectNumberInputSmall" type="text" name="projectNumber" [(ngModel)]="project.projectNumber" [ngClass]="validateInput(project.projectNumber)" />
                    </div>
                </div>
                <div class="row inputBox">
                    <div class="col-xs-12">
                        Budget
                        <br />
                        <input id="budgetInputSmall" type="text" name="budget" [(ngModel)]="project.budget" [ngClass]="validateInput(project.budget)" />

                    </div>
                </div>
                <div class="row inputBox">
                    <div class="col-xs-12">
                        Description
                        <br />
                        <input id="descriptionInputSmall" type="text" name="description" [(ngModel)]="project.description" [ngClass]="validateInput(project.description)" />
                    </div>
                </div>
                <br />
                <button id="addProjectButtonSmall" align="center">Add Project</button>
                <button id="closeButtonLarge" data-dismiss="modal" (click)="loadProjects()">Close</button>
            </div>

            <!-- md, lg, xl-->
            <div class="hidden-xs hidden-sm">
                <div class="row inputBox">
                    <div class="col-md-6" align="center">
                        Project Number
                        <br />
                        <input id="projectNumberInputSmall" type="text" name="projectNumber" [(ngModel)]="project.projectNumber" [ngClass]="validateInput(project.projectNumber)" />
                    </div>
                </div>
                <div class="row inputBox">
                    <div class="col-md-6" align="center">
                        Budget
                        <br />
                        <input id="budgetInputSmall" type="text" name="budget" [(ngModel)]="project.budget" [ngClass]="validateInput(project.budget)" />

                    </div>
                </div>
                <div class="row inputBox">
                    <div class="col-md-6" align="center">
                        Description
                        <br />
                        <input id="descriptionInputSmall" type="text" name="description" [(ngModel)]="project.description" [ngClass]="validateInput(project.description)" />
                    </div>
                </div>
                <br />
                <div class="buttons" align="center">
                    <button id="addProjectButtonLarge" align="center">Add Project</button>
                    <button id="closeButtonLarge" data-dismiss="modal" (click)="loadProjects()">Close</button>
                </div>
            </div>
        </form>
    </div>
</div>
          