<div class="body">
    <div class='container-fluid'>
        <div class="content">
            <div class="heading">
                <h1>LOGIN</h1>
            </div>
            <div class="row">
                <input type="text" placeholder="Username" [(ngModel)]="username" />
            </div>
            <br />

            <div class="row">
                <input type="password" placeholder="Password" [(ngModel)]="password" />
            </div>
            <br />

            <div class="row">
                <button class="btn-block login" [routerLink]="['/timesheets']">Login</button>
            </div>
        </div>
    </div>
</div>
