<div class="wrapper">

    <!-- Temporary Input and Button to load a Timesheet -->
    <table>
        <tr>
            <td>Employee Number:</td>
            <td><input type="text" #employeeNumber /><br /></td>
            <td rowspan="2">
                <button class="btn-icon" (click)="loadTimesheet(employeeNumber.value, endDate.value)">
                    <img class="img-icon" src="../../assets/images/icon-search.png" alt="Load Timesheet" />
                </button>
            </td>
        </tr>
        <tr>
            <td>End Date (YYYY-MM-DD):</td>
            <td><input type="text" #endDate /><br /></td>
        </tr>
        <tr>
            <!--<td><button disabled (click)="addTimesheet(employeeNumber.value, endDate.value)">Create Timesheet</button></td>-->
        </tr>
        <tr>
            <!--<td><button disabled (click)="removeTimesheet(employeeNumber.value, endDate.value)">Delete Timesheet</button></td>-->
        </tr>
    </table>
    <br />
    <!-- Table Header -->
    <div class="tableHeader">
        <!-- xs, sm view -->
        <div class="row visible-xs visible-sm">
            <div class="col-xs-12">
                <div class="row">
                    <div class="row">
                        <button class="btn-icon"><img class="img-icon" src="../../assets/images/icon-archive.png" alt="Archive" /></button>
                    </div>
                </div>

            </div>
            <div class="col-xs-12 text-center">
                <h1>Timesheet</h1>
            </div>
        </div>

        <!--  md, lg, xl views -->
        <div class="row hidden-xs hidden-sm">
            <div class="col-md-4">
                <button class="btn-icon"><img class="img-icon" src="../../assets/images/icon-archive.png" alt="Archive" /></button>
            </div>
            <div class="col-md-4 text-center">
                <h1>Timesheet</h1>
            </div>
            <div class="col-md-4">
                <h4 class="pull-right">Week No.</h4>
            </div>
        </div>
    </div>


    <!-- Table Body -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Project #</th>
                <th>WP #</th>
                <th>Saturday</th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Notes</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let timesheetRow of timesheet">
                <td><input type="text" name="projectNumber" [(ngModel)]="timesheetRow.projectNumber" style="width: 75px;" /></td>
                <td><input type="text" name="workPackageNumber" [(ngModel)]="timesheetRow.workPackageNumber" style="width: 75px;" /></td>
                <td><input type="text" name="saturday" [(ngModel)]="timesheetRow.saturday" style="width: 75px;" /></td>
                <td><input type="text" name="sunday" [(ngModel)]="timesheetRow.sunday" style="width: 75px;" /></td>
                <td><input type="text" name="monday" [(ngModel)]="timesheetRow.monday" style="width: 75px;" /></td>
                <td><input type="text" name="tuesday" [(ngModel)]="timesheetRow.tuesday" style="width: 75px;" /></td>
                <td><input type="text" name="wednesday" [(ngModel)]="timesheetRow.wednesday" style="width: 75px;" /></td>
                <td><input type="text" name="thursday" [(ngModel)]="timesheetRow.thursday" style="width: 75px;" /></td>
                <td><input type="text" name="friday" [(ngModel)]="timesheetRow.friday" style="width: 75px;" /></td>
                <td><input type="text" name="notes" value="" style="width: 125px;" disabled /></td>
                <td><input type="text" name="total" value="" style="width: 125px;" disabled /></td>
            </tr>
            <tr></tr>
            <tr>
                <td colspan="11"><button class="btn-block" (click)="addTimesheetRow(employeeNumber.value, endDate.value)">+</button></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Flextime:</td>
                <td></td>
            </tr>

            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>Overtime:</td>
                <td></td>

            </tr>
        </tbody>

    </table>

    <button class="pull-right" (click)="clearProperties()">Reset</button>
    <button class="pull-right" (click)="updateTimesheet(employeeNumber.value, endDate.value)">Update</button>
    <button (click)="printProperties()">Print to Console</button>
    <br />
    <hr />
    <!-- Table Footer -->
    <!-- xs, sm view -->
    <div class="row visible-xs visible-sm">
        <br />
        <div class="row">
            <p>Approval Status: <strong>Not Approved</strong></p>

        </div>
        <div class="row">
            <button>Sign Timesheet</button>
        </div>
    </div>

    <!-- md, lg, xl view -->

    <div class="row hidden-xs hidden-sm">

        <div class="col-md-6">
            <p>Approval Status: <strong>Not Approved</strong></p>

        </div>
        <div class="col-md-6 ">
            <button class="pull-right">Sign Timesheet</button>
        </div>
    </div>

</div>


<!-- Table Footer -->
