.tableHeader {
	padding-top: 30px;
}

.wrapper {
    margin: 5%;

}

.img-icon {
    height: 15px;
    width: 15px;
}

.tableHeader {
    /*background-color: #436252;*/
    background-color: #3EB55F;
    opacity: .8;
    padding: 10px;
    color: white;
}