<div class="container">
	<!-- Table Header -->
	<div class="tableHeader">
		<!-- xs, sm view -->
		<div class="row visible-xs visible-sm bg-warning">
			<div class="col-xs-12">
				<div class="row">
					<button>Archive</button>
					<button>This week</button>
				</div>

			</div>
			<div class="col-xs-12 text-center">
				<h1>Timesheet</h1>
			</div>
		</div>

		<!--  md, lg, xl views -->
		<div class="row hidden-xs hidden-sm">
			<div class="col-md-4">
				<button>Archive</button>
				<button>This week</button>
			</div>
			<div class="col-md-4 text-center">
				<h1>Timesheet</h1>
			</div>
			<div class="col-md-4">
				<h4 class="pull-right">Week No.</h4>
			</div>
		</div>
	</div>


	<!-- Table Body -->
	<table class="table table-hover table-striped">
		<thead>
			<tr>
				<th>Project #</th>
				<th>WP #</th>
				<th>Saturday</th>
				<th>Sunday</th>
				<th>Monday</th>
				<th>Tuesday</th>
				<th>Wednesday</th>
				<th>Thursday</th>
				<th>Friday</th>
				<th>Notes</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>P1</td>
				<td>P1023</td>
				<td>1</td>
				<td>0.25</td>
				<td>3.25</td>
				<td>1</td>
				<td>1</td>
				<td>2</td>
				<td>1</td>
				<td>Finished all tasks</td>
			</tr>
			<tr>
				<td>P26</td>
				<td>P16003</td>
				<td>1.25</td>
				<td>2</td>
				<td>3</td>
				<td>6</td>
				<td>4</td>
				<td>2</td>
				<td>1</td>
				<td></td>
			</tr>
			<tr>
				<td>P1</td>
				<td>P1006</td>
				<td>4</td>
				<td>8</td>
				<td>4</td>
				<td>1</td>
				<td>4</td>
				<td>0.755</td>
				<td>4</td>
				<td></td>
			</tr>
			<tr>
				<td colspan="3"></td>
			</tr>
			<tr>
				FlexTime:
			</tr>

			<tr>
				Overtime:
			</tr>
		</tbody>
		
	</table>

	<!-- Table Footer -->
	<!-- xs, sm view -->
	<div class="row visible-xs visible-sm">
		<br />
		<div class="row">
			<p>Approval Status: <strong>Not Approved</strong></p>

		</div>
		<div class="row">
			<button>Sign Timesheet</button>
		</div>
	</div>

	<!-- md, lg, xl view -->

	<div class="row hidden-xs hidden-sm">

		<div class="col-md-6">
			<p>Approval Status: <strong>Not Approved</strong></p>

		</div>
		<div class="col-md-6 ">
			<button class="pull-right">Sign Timesheet</button>
		</div>
	</div>

</div>


<!-- Table Footer -->
