<div class="component-content">
    <!-- Temporary Input and Button to load a Timesheet -->
    <div class="row">
        <div class="col-md-12 wp">
            <!--<table>
        <tr class="input-row">
            <td style="padding-right: 10px;">Work Package Number:</td>
            <td>DROPDOWN HERE</td>
        </tr>

    </table>-->
            <!-- Table Header -->
            <div class="tableHeader">
                <!-- xs, sm view -->
                <div class="row visible-xs visible-sm">

                    <div class="col-xs-12 text-center">
                        <h3>Work Packages</h3>
                    </div>

                </div>

                <!--  md, lg, xl views -->
                <div class="row hidden-xs hidden-sm">

                    <div class="col-md-12 text-center">
                        <h3>Work Packages</h3>
                    </div>

                </div>
            </div>


            <!-- Table Body -->
            <div class="table-responsive table-body workpackages-table">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Project Number</th>
                            <th>Work Package</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let workpackage of workpackages" (click)="getSelected(workpackage)">
                            <td><p> {{workpackage.projectNumber}} </p></td>
                            <td><p> {{workpackage.workPackageNumber}} </p></td>
                            <td><p> {{workpackage.description}} </p></td>

                        </tr>
                        <tr></tr>
                        <tr>
                            <!--<td colspan="11"></td>-->
                        </tr>
                    </tbody>
                </table>
            </div>
            <br />

            <!-- Modal START -->
            <button id="splitWorkPackage" type="button" class="splitWorkpackage" data-toggle="modal" data-target="#splitWorkpackage">Split Workpackage</button>
            <button id="newWorkpackageButton" type="button" class="newWorkpackage" data-toggle="modal" data-target="#addWorkpackage">New Workpackage</button>
            <button id="deleteWorkpackageButton" type="button" class="deleteWorkpackage" data-toggle="modal" data-target="#deleteWorkpackage">Delete Workpackage</button>

            <br />
            <br />


            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" data-toggle="modal" id="addWorkpackage">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <AddWorkpackage></AddWorkpackage>
                    </div>
                </div>
            </div>

            <div class="modal fade bs-example-modal-lg secondary" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel2" data-toggle="modal" id="deleteWorkpackage">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <DeleteWorkpackage></DeleteWorkpackage>
                    </div>
                </div>
            </div>
            <!-- Modal END -->


            <br />
            <hr />
        </div>
    <!-- WORK PACKAGES TABLE THINGY END -->
    </div>
</div>
