.body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f7f7f7;
    width: 100%;
    position: absolute;
    height: 100%;
    left: 0;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}


li {
    text-decoration: none;
}

p {
    display: inline;
}

ul {
    list-style-type: none;
}

.component-content {
    margin: 5%;
}

.inputBox {
    padding: 15px;
}

.xs-input {
    width: 100%;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body {
        padding-top: 50px;
    }
}

.employee-dropdown {
    height: 28px;
    width: 160px
}

.invalid-input {
    border: 2px solid red;
}

.tableHeader {
    padding-top: 30px;
}

.component-content {
    margin: 5%;
}

.input-top {
    width: 100%;
    padding: 0px 5px 0px 5px;
    outline: 1px solid #6ac48d;
    box-shadow: none;
    background-color: #eaeaea;
}


.img-icon {
    height: 15px;
    width: 15px;
}

.tableHeader {
    /*background-color: #436252;*/
    /*background-color: #3EB55F;*/
    /*background-color: #1ab188;*/
    background-color: #6ac48d;
    padding: 10px;
    color: #173c00;
}

.btn-icon {
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* BOOTSTRAP AREA */

