<div class="component-content">

    <div class="top-side row">
        <div class="col-md-2">
            Project Number
        </div>
        <div class="col-md-10">
            <div class="info col-md-1 bg-warning">
                <div class="info">Info</div>
            </div>
            <div class="col-md-6 bg-success">
                <div class="row descr">Description</div>
                <div class="row estim">Estimates</div>
            </div>
            <div class="col-md-5 bg-warning">
                <div class="row status">Status</div>
                <div class="row etc">ETC</div>
            </div>
        </div>     
    </div>

    <div class="row bottom-side bg-info">
        <div class="col-md-2 bg-primary">
            Work Packages
        </div>
        <div class="col-md-4 bg-success">
            Available Employees
        </div>
        <div class="col-md-6 bg-warning">
            Current Team
        </div>
    </div>

</div>