<div class="body">
    <div class='container-fluid'>
        <div class='row'>
            <div class='col-sm-3'>
                <nav-menu></nav-menu>
            </div>
            <div class='col-sm-9 body-content'>

                <div class="component-content">
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-body">
                                <h2 id="test" class="hidden-xs hidden-sm project-number card-title"><b>{{workpackage.projectNumber}}</b></h2>
                                <h5 id="test" class="visible-xs visible-sm project-number card-title"><b>{{workpackage.projectNumber}}</b></h5>
                            </div>
                        </div>
                        <div class="card" style="flex: 4">
                            <div class="card-body">
                                <h5 class="card-title">Project Details</h5>
                                <div class="card-text">
                                    {{workpackage.description}}
                                </div>
                                <!--<p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>-->
                            </div>
                        </div>
                    </div>
                    <br class="hidden-xs" />
                    <br class="hidden-xs" />
                    <div class="card-deck">
                        <div class="card">
                            <div class="card-header">
                                Work Packages
                            </div>
                            <div class="card-header">
                                <input id="workpackageInput" type="text" #workpackageNumber />
                                <button id="loadWorkpackageButton" class="btn-icon" (click)="loadWorkpackage(workpackageNumber.value)">
                                    <img class="img-icon" src="../../assets/images/icon-search.png" alt="Load Timesheet" />
                                </button>
                            </div>
                            <ul class="list-group list-group-flush" *ngFor="let workpackage of workpackages; let i=index">
                                <li class="list-group-item" *ngIf="i < 10" (click)="getSelected(workpackage)">
                                    <p> {{workpackage.projectNumber}} </p>
                                    <p> {{workpackage.workPackageNumber}} </p>
                                </li>
                            </ul>

                        </div>
                        <div class="card">
                            <div class="card-header">
                                Team Involved
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Employee A</li>
                                <li class="list-group-item">Employee B</li>
                                <li class="list-group-item">Employee C</li>
                            </ul>
                        </div>
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Package Details</h5>
                                <p class="card-text"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <button id="newEmployeeButton" type="button" class="newEmployee" data-toggle="modal" data-target=".bs-example-modal-lg">New Employee</button>

            </div>
            <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                        <AddWorkpackage></AddWorkpackage>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

